.App{
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  padding: 10px;
}

.heading{
  color: aliceblue;
  font-size: large;
  z-index: 1;
  text-align: center;
}